<h1>Welcome</h1>

<div>
  <hr />
  <select
    #mySelect
    (change)="featurePicked(mySelect.value)"
  >
    <option value="0">character class</option>
    <option value="1">item feature</option>
  </select>
  <app-switchable-view
    [data]="selectedData"
  ></app-switchable-view>
  <hr />
  <select
    #myMonsterSpellSelect
    (change)="monsterSpellPicked(myMonsterSpellSelect.value)"
  >
    <option value="0">monsters</option>
    <option value="1">spells</option>
    <option value="2">races</option>
  </select>
  <app-factory-view
    [data]="selectedMonsterSpellData"
  ></app-factory-view>
</div>
